<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSoapServiceApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <option name="ACTIVE_PROFILES" value="local" />
    <log_file alias="spring-json.log" path="$PROJECT_DIR$/target/logs/spring.log" show_all="true" />
    <log_file alias="spring-ecs.log" path="$PROJECT_DIR$/target/logs/spring-ecs.log" show_all="true" />
    <module name="spring-7-web-services" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="ch.dboeckli.soap.service.SpringSoapServiceApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>